
    <!-- Footer -->
    <footer class="page-footer font-small color-grey pt-4">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- EMAIL FORM -->
            <div class="card m-0">
              <div class="card-body p-0">
                <form class="bg-light">
                  <div class="form-group px-3 py-2">
                    <label for="exampleInputEmail1">Sign Up for Special Offers</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <button type="submit" class="btn color-red text-white ml-2 mb-2">Sign Up</button>
                </form>
              </div>
            </div>
          <!-- FOLLOW US -->
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Follow Us</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-muted"><i class="fab fa-facebook-square text-primary"></i>Facebook</a>
              </li>
            </ul>
          </div>
          <!-- ABOUT -->
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">About</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/about">About Us</a>
              </li>
              <li>
                <a href="/faq">FAQ</a>
              </li>
              <li>
                <a href="/contact">Contact Us</a>
              </li>
              <li>
                <a href="/login">Login</a>
              </li>
            </ul>    
          </div>
        </div>
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Linhs PC Store</a>
      </div>
    </footer>
    <!--BOOTSTRAP 4 SCRIPT CDN  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/scripts/script.js"></script>    
  </body>
</html>