<% include partials/header %>

<div class="container">
    <!-- BREADCRUMB NAVIGATION -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Laptop</li>
        </ol>
    </nav>
    <!--FIRST ROW -->
    <div class="row">
        <!-- FIRST COL - PC AND MINI SLIDER -->
        <div class="col">
            <img src="img/PC/laptopbig.jpg" alt="">
        </div>
        <!-- SECOND COL PRICES -->
        <div class="col">
            <h1 class="card-title">Dell - 11.6" Chromebook - Intel Celeron - 4GB Memory - 16GB eMMC Flash Memory - Black</h5>
            <p class="card-text"><span class="text-muted"><s>Orignial Price</s></span>  <span>SAVE Savings</span></p>
            <p class="h2 text-danger">Price</p>
        </div>
    </div>
    <!-- SECOND ROW -->
    <div class="row">
        <!-- CARD WITH NAVIGATION - FEATURES AND SPECS -->
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#">overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">specs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">reviews</a>
                    </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>