<% include partials/header %>

<div class="container">
    <!-- BREADCRUMB NAVIGATION -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Laptop</li>
        </ol>
    </nav>
    <!--FIRST ROW -->
    <div class="row">
        <!-- FIRST COL - PC AND MINI SLIDER -->
        <div class="col">
            <img src="img/PC/laptopbig.jpg" alt="">
        </div>
        <!-- SECOND COL PRICES -->
        <div class="col">
            <h1 class="card-title">Dell - 11.6" Chromebook - Intel Celeron - 4GB Memory - 16GB eMMC Flash Memory - Black</h5>
            <p class="card-text"><span class="text-muted"><s>Orignial Price</s></span>  <span>SAVE Savings</span></p>
            <p class="h2 text-danger">Price</p>
        </div>
    </div>
    <!-- SECOND ROW -->
    <div class="row">
        <!-- FIRST COL - CARD WITH NAVIGATION - FEATURES AND SPECS -->
        <div class="col mb-4">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="specifications" aria-selected="false" href="#">Specifications</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="overview-tab"><p>overview</p></div>
                        <div class="tab-pane fade" role="tabpanel" aria-labelledby="specifications-tab"><p>specifications</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<% include partials/footer %>