<%include partials/header%>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-6">
            <p class="h1">
                Thank You
            </p>
            <p class="h3">
                for your purchase!
            </p>
        </div>
    </div>
</div>

<%include partials/footer%>