
*{
    padding: 0;
    margin: 0;
}

.color-grey{
    background-color: #e3e3e3;
}

.color-lightgrey{
    background-color: #f6f6f8;
}

.color-red{
    background-color: #c60021;
}

#aboutUsJumbotron{
    background-image: url("../img/aboutusplacer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* LAPTOP PAGE MINI SLIDER */

.carousel-indicators li {
    height: 50px;
    width: 50px;
 }
 

.carousel-indicators img {
   height: 50px;
   width: 50px;
   border: 1px solid black;
   padding: 5px;
}

.carousel-indicators .active img{
    border: 2px solid #007bff;
 }



